// media queries variables
$break-small: 375px;
$break-small-plus: 400px;
$break-small-height: 740px;
$break-tablets: 768px;
$break-medium-desktops: 1024px;
$break-large-desktops: 1440px;
$break-extra-large-desktops: 1920px;
$phone-landscape-min-width: 812px;
$phone-landscape-max-width: 896px;
$ipadPro-portrait-width: 1024px;
$ipadPro-landscape-width: 1366px;
@mixin respond-above($media) {
    @if $media==phones {
        @media screen and (min-width: $break-tablets) {
            @content;
        }
    }
    @else if $media==tablets {
        @media only screen and (min-width: $break-medium-desktops) {
            @content;
        }
    }
    @else if $media==medium-screens {
        @media only screen and (min-width: $break-large-desktops) {
            @content;
        }
    }
    @else if $media==large-screens {
        @media only screen and (min-width: $break-extra-large-desktops) {
            @content;
        }
    }
}